<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
	<style>
	h1 {
		text-align: center;
	}
	
	p {
		text-align: center;
	}
	
	div {
		text-align: center;
	}
	</style>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<title>Tienda Generica - MinTic</title>

</head>
<body>
	<br>
	<br>
	<h1>Bienvenidos a la Tienda Genérica</h1>
	<br>
	<br>
	<div>

		<form action="validador" method="post">
	
			Usuario: <input type="text" name="usuario"><br><br>
			Password: <input type="password" name="password"><br><br> 
			<input type="submit" class="btn btn-success" value="Aceptar">
			<button type="button" class="btn btn-info"><a href="/salir">Cancelar</button>
		</form>
		
		
		
	</div>
</body>
</html>